API_Load_Download_Songs/bin
API_Load_Download_Songs/obj
API_Load_Download_Songs/Migrations
API_MongoDB/bin
API_MongoDB/obj
API_MongoDB/Migrations
API_SQL/bin
API_SQL/obj
API_SQL/Migrations
WPF/TaulerDeControlRM/bin
WPF/TaulerDeControlRM/obj
WPF/.vs/
WPF/TaulerDeControlRM/obj/Debug/
 