API_Load_Download_Songs/bin
API_Load_Download_Songs/obj
API_Load_Download_Songs/Migrations
API_MongoDB/bin
API_MongoDB/obj
API_MongoDB/Migrations
API_SQL/bin
API_SQL/obj
API_SQL/Migrations
# Ignore Visual Studio files and directories
WPF/TaulerDeControlRM/.vs/

# Ignore build artifacts and directories
WPF/TaulerDeControlRM/obj/
WPF/TaulerDeControlRM/TaulerDeControlRM/obj/
WPF/TaulerDeControlRM/TaulerDeControlRM/bin/

# Ignore specific files
WPF/TaulerDeControlRM/TaulerDeControlRM/obj/project.assets.json
WPF/TaulerDeControlRM/TaulerDeControlRM/obj/project.nuget.cache
WPF/TaulerDeControlRM/TaulerDeControlRM/obj/TaulerDeControlRM.csproj.nuget.dgspec.json
WPF/TaulerDeControlRM/TaulerDeControlRM/obj/Debug/net6.0-windows/TaulerDeControlRM.GeneratedMSBuildEditorConfig.editorconfig
WPF/TaulerDeControlRM/TaulerDeControlRM/obj/Debug/net6.0-windows/TaulerDeControlRM.sourcelink.json
