<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseApi" value="http://localhost:5025/api/"/>
		<add key="baseSql" value="http://localhost:5025/api/"/>
		<add key="baseMSQL" value="http://localhost:5025/api/"/>
		<add key="basePostgressSQL" value="http://localhost:5025/api/"/>



		<add key="controllerAlbum" value="Album/"/>
		<add key="controllerCanco" value="Canco/"/>
		<add key="controllerExtensio" value="Extensio/"/>
		<add key="controllerGrup" value="Grup/"/>
		<add key="controllerMusic" value="Music/"/>
		<add key="controllerInstrument" value="Instrument/"/>
		<add key="controllerLlista" value="Llista/"/>
		<add key="controllerTocar" value="Tocar/"/>
	</appSettings> 
</configuration>