<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="baseApi" value="http://localhost:5025/api/"/>
		<add key="controllerAlbum" value="Album/"/>
		<add key="controllerCanco" value="Canco/"/>
		<add key="controllerExtensio" value="Extensio/"/>
		<add key="controllerGrup" value="Grup/"/>
		<add key="controllerMusic" value="Music/"/>
		<add key="controllerInstrument" value="Instrument/"/>
	</appSettings> 
</configuration>